* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url(subway.jpg);
  background-size: cover;
  height: 100vh;
  color: darkred;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: bold;
  margin: 2% 0 2% 0;
}
h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 2%;
}

.container {
  background-color: darkkhaki;
  max-width: 80%;
  border: 3px solid black;
  border-radius: 10%;
}

.button {
  border-radius: 5%;
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  border: none;
  color: white;
  width: 200px;
  margin-bottom: 15px;
}

.button:hover {
  background-color: cadetblue;
}
.up {
  background-color: darkgreen;
}

.save {
  background-color: darkblue;
}
#save-el {
  font-size: 24px;
  font-weight: bold;
  padding: 2% 0;
}
